<form action="/home" method="post">
  <button type="submit">Home</button>
</form>


<% let paperMedium = PAPERMEDIUM %>

<% if(paperMedium === "English"){ %>
  <% for(let i=0; i<qsList.length; i++) { %>
    <p><%- i+1 %>. <%- qsList[i].qs %></p>
    <p>(a) <%- qsList[i].A %></p>
    <p>(b) <%- qsList[i].B %></p>
    <p>(c) <%- qsList[i].C %></p>
    <p>(d) <%- qsList[i].D %></p>
    <p>ans: <%- qsList[i].ans %></p>
    <p>exp: <%- qsList[i].exp %></p>
<% } %>

<% } else if(paperMedium === "Hindi"){ %>
  <% for(let i=0; i<qsList.length; i++) { %>
    <p><%- i+1 %>. <%- qsList[i].qsH %></p>
    <p>(a) <%- qsList[i].AH %></p>
    <p>(b) <%- qsList[i].BH %></p>
    <p>(c) <%- qsList[i].CH %></p>
    <p>(d) <%- qsList[i].DH %></p>
    <p>ans: <%- qsList[i].ans %></p>
    <p>exp: <%- qsList[i].expH %></p>
<% } %>

<% } else if(paperMedium === "HingLish"){ %>
  <% for(let i=0; i<qsList.length; i++) { %>
    <p><%- i+1 %>. <%- qsList[i].qs %></p>
    <p><%- qsList[i].qsH %></p>
    <p>(a) <%- qsList[i].A %></p>
    <p>(a) <%- qsList[i].AH %></p>
    <p>(b) <%- qsList[i].B %></p>
    <p>(b) <%- qsList[i].BH %></p>
    <p>(c) <%- qsList[i].C %></p>
    <p>(c) <%- qsList[i].CH %></p>
    <p>(d) <%- qsList[i].D %></p>
    <p>(d) <%- qsList[i].DH %></p>
    <p>ans: <%- qsList[i].ans %></p>
    <p>exp: <%- qsList[i].exp %></p>
    <p>exp: <%- qsList[i].expH %></p>
<% } %>

<% } else if(paperMedium === "HindiEnglishSeparate"){ %>
  <% for(let i=0; i<qsList.length; i++) { %>
    <p><%- i+1 %>. <%- qsList[i].qs %></p>
    <p>(a) <%- qsList[i].A %></p>
    <p>(b) <%- qsList[i].B %></p>
    <p>(c) <%- qsList[i].C %></p>
    <p>(d) <%- qsList[i].D %></p>
    <p>ans: <%- qsList[i].ans %></p>
    <p>exp: <%- qsList[i].exp %></p>
  <% } %>
  <% for(let i=0; i<qsList.length; i++) { %>
    <p><%- i+1 %>. <%- qsList[i].qsH %></p>
    <p>(a) <%- qsList[i].AH %></p>
    <p>(b) <%- qsList[i].BH %></p>
    <p>(c) <%- qsList[i].CH %></p>
    <p>(d) <%- qsList[i].DH %></p>
    <p>ans: <%- qsList[i].ans %></p>
    <p>exp: <%- qsList[i].expH %></p>
  <% } %>

<% } else if(paperMedium === "quiz"){ %>
  <p>const quizData = [ </p>
  <% for(let i=0; i<qsList.length; i++) { %>
    <p>{</p>
      <p>id: <%- i %>,</p>
      <p>qs: "<%= qsList[i].qs %>",</p>
      <p>qsH: "<%= qsList[i].qsH %>",</p>
      <p>A: "<%= qsList[i].A %>",</p>
      <p>AH: "<%= qsList[i].AH %>",</p>
      <p>B: "<%= qsList[i].B %>",</p>
      <p>BH: "<%= qsList[i].BH %>",</p>
      <p>C: "<%= qsList[i].C %>",</p>
      <p>CH: "<%= qsList[i].CH %>",</p>
      <p>D: "<%= qsList[i].D %>",</p>
      <p>DH: "<%= qsList[i].DH %>",</p>
      <p>ans: "<%= qsList[i].ans %>",</p>
      <p>exp: "<%= qsList[i].exp %>",</p>
      <p>expH: "<%= qsList[i].expH %>",</p>
      <p>remark: "<%= qsList[i].remark %>",</p>
      <p>extra: "<%= qsList[i].extra %>",</p>
      <p>rating: <%= qsList[i].rating %>,</p>
      <p>},</p>
      
      <% } %>
      <p> ] </p>

  <% } %>
